{% extends 'base.html' %}
{% block content %}

<div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto mt-3">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete Request</legend>
            <h3>You are about to delete the request {{ object.title }}. Do you wish to continue?</h3>
        </fieldset>
        <div class="form-group">
            <a class="btn btn-outline-info" href="{% url 'tickets:detail' object.id %}">Cancel</a>
            <button class="btn btn-danger" type="submit">Delete</button>
        </div>
    </form>
</div>

{% endblock %}