{% extends 'base.html' %}
{% block content %}
    <section class="col-12 col-md-10 col-lg-8 mx-auto mt-5 pt-3">
        <div class="row justify-content-center mb-3 pb-2">
            <h1>500 Server Error</h1>
        </div>
        <div class="border border-secondary rounded-lg px-2">
            <div class="ml-4 mt-2">
                <p>Something is wrong on our end.</p>
                <p>We are working round the clock to fix it!</p>
            </div>
        </div>
    </section>
{% endblock %}
