{% extends 'base.html' %}

{% block content %}

<section class="col-12 col-md-10 col-lg-8 mx-auto mt-5 pt-3">
    <div class="row justify-content-center mb-3 pb-2">
        <h3>About Me</h3>
    </div>
    <div class="border border-secondary rounded-lg px-2 content-area">
        <div class="ml-4 mt-2">
            <p class="text-monospace">Driven Full Stack Web Developer trained at Code Institute and graduated Business
                Administrator at PUC-RS, a
                leading University in Brasil.
            </p>
            <p class="text-monospace">I am now pursuing a successful career as a Web Developer.</p>
            <p class="text-monospace">I can also speak fluent in Portuguese!</p>
        </div>
    </div>
</section>

{% endblock %}