<div class="mt-5 pt-5 pb-5 bg-haiti">
    <div class="container">
        <div class="d-flex flex-column flex-md-row">
            <div class="col-xs-12 col-lg-6">
                <p class="px-2 text-white">
                    This application was created by Giovanni Bronca.
                    <br>
                    If you would like more information about this app and it's developer, please get in touch by
                    clicking in one of the links asside.
                </p>
            </div>
            <div class="col-xs-12 col-lg-6 footer-list d-flex justify-content-around">
                <ul class="list-group list-group-horizontal">
                    <li class="text-white px-4 mx-4">
                        <a class="text-white" target="_blank" href="https://github.com/gbronca?tab=repositories">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li class="text-white px-4 mx-4">
                        <a class="text-white" target="_blank"
                            href="https://www.linkedin.com/in/giovanni-bronca-144a6828/">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>